[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
notebook = "*"
matplotlib = "*"
pandas = "*"
missforest = "*"
scikit-learn = "*"
seaborn = "*"
xlsxwriter = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
